body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: rgb(250, 229, 191);
}

.slider {
  position: relative;
  width: 500px;
  overflow: hidden;
  border-radius: 3px;
}

.slider_images {
  display: flex;
  transition: transform 0.2s ease-in-out;
}

img {
  width: 100%;
  }

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 20px;
  opacity: 0.5;
  cursor: pointer;
}

.btn.prev {
  left: 7px;
}

.btn.next {
  right: 7px;
}

.btn:hover {
  opacity: 1;
}