@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  font-family: 'Popins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  scroll-padding: 2rem;
}

::selection{
  color: black;
  background-color: red;
}
.container{
  max-width: 1068px;
  margin: auto;
  width: 100%;
}
section{
  padding: 4rem 0 3;
}
body{
  color: black;
}
img{
  width: 100%;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 4px hsl(0 4% 15%/ 10%);
  z-index: 100;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.logo{
  font-size: 1.1rem;
  font-weight: 600;
  color: blueviolet;
  text-transform: uppercase;
}
#cart-icon{
  font-size: 1.8rem;
  cursor: pointer;
}

/* shop section */
.shop{
  margin-top: 2rem;
}
.section-title{
  font-style: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
  /* margin-left: 0.5rem; */
}

.shop-content{
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minax(220px, auto));
  gap: 1.5rem;
}
.product-box{
  position: relative;
}
.product-box:hover{
  padding: 10px;
  border: 1px solid black;
  transition: .4s;
}
.product-img{
  width: 50px;
  height: 50px;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-bottom: .5rem;
}
.product-title{
font-size: 1.1rem;
font-weight: 600;
text-transform: uppercase;
margin-bottom: .5rem;
}
.product-price{
  font-weight: 500;
}
.add-cart{
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  /* position: absolute; */
}
.add-cart:hover{
  background-color: yellowgreen;
}


/* cart */
.cart{
  position: fixed;
  top: 0;
  /* right: 0; */
  right: -100%;
  width: 360px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: white;
  box-shadow: -2px solid 4px hsl(0 4% 15%/ 10%);
  border: 1px solid red;
  transition: 1.5s;
}
.cart.active{
  right: 0;
  transition: .5s;
}
.cart-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}
.cart-box{
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.cart-img{
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}
.detail-box{
  display: grid;
  row-gap: .5rem;
}
.cart-product-title{
  font-size: 1rem;
  text-transform: uppercase;
}
.cart-price{
  font-weight: 500;
}
.cart-quantity{
  border: 1px solid black;
  outline-color: red;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}
.cart-remove{
  font-size: 24px;
  color: red;
  cursor: pointer;
}
.total{
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid black;
}
.total-title{
  font-size: 1rem;
  font-weight: 600;
}
.total-price{
  margin-left: .5rem;
}
.btn-buy{
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background-color: blue;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.btn-buy:hover{
  background-color: yellowgreen;
}
#cart-close{
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: black;
  cursor: pointer;
}

.shop-content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background-color: aquamarine;
  }

.shop-content .item {
   background-color: aquamarine;
   padding: 20px;
   border-radius: 20px;
   overflow: hidden;
     }





/* .add-cart:hover{
  background-color: hsl(249, 32%, 17%);
} */

/* body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

.container {
  width: 900px;
  max-width: 90vw;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  transition: transform 0.5s;
}

svg {
  width: 30px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  }

header .icon-cart {
  position: relative;
}

header .icon-cart span{
  display: flex;
  width: 30px;
  height: 30px;
  background-color: red;
  justify-content: center;
  align-items: center;
  color: rgb(191, 215, 235);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -20px;
}

.listProduct .item img{
  width: 90%;
  height: 150px;
  padding: 10px;
  overflow: hidden;
  background-color: #ee1;
  /* filter: drop-shadow(0 50px 20px yellow); */
/* } */

/* .listProduct{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  /* background-color: aquamarine; */
  /* } */

  /* .listProduct .item {
   background-color: aquamarine;
   padding: 20px;
   border-radius: 20px;
   overflow: hidden;
    
  }
.listProduct .item h2{
  /* font-weight: 500;  */
  /* font-size: large;
  
} */

/* .listProduct .item .price .title{
  letter-spacing: 7px;
  font-size: small;
  }

.listProduct .item button {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.cartTab{
  width: 400px;
  background-color: black;
  color: white;
  position: fixed;
  inset: 0 -400px 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: 0.5s;
}

body .showCart .cartTab{
  inset: 0 0 0 auto;
}
body .showCart .container{
  transform: translate(-250px);
}
.cartTab h1{
  padding: 20px;
  margin: 0;
  font-weight: 300;
}

.cartTab .btn{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button{
  background-color: orange;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-weight: 500;
}


.cartTab .btn .close{
  background-color: whitesmoke;
}

.cartTab .listCart .item img{
  width: 100%;
}

.cartTab .listCart .item{
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}

.listCart .quantity span{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: aliceblue;
  color: #555;
  border-radius: 50%;
  cursor: pointer;
}

.listCart .quantity span:nth-child(2){
  background-color: transparent;
  color: white;
}

.listCart .item:nth-child(even){
  background-color: #eee1;
}

.listCart{
  overflow: auto;
}

.listCart::-webkit-scrollbar{
  width: 0;
}  */