*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(7,1fr);
    gap: 15px;

}

.main {
    width: 300px;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 50px;
    padding: 20px;
    
}

.calculator {
    padding: 15px;
    background-color: rgb(6, 104, 104);
    text-align: end;
    border-radius: 5px;
    margin-bottom: 25px;
}

.box {
   
    border: 1px solid black;
    background-color: black;
    color: white;
    text-align: center;
    
}


.box:nth-child(25){
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column: 5;
}

.box:nth-child(26){
    grid-column-start: 1;
    grid-column-end: 3;
}

