*{
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}
body{
  font-family: 'montserrat', sans-serif;
  color: white;
  height: 100vh;
}
.weather{
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align: center;
  background: black;
  height: 100vh;
  background-image: url(/Lab13/hava.jpg);
}
.weather_header{
  padding: 50px 20px 30px 20px;
}
.weather_header h1{
  font-size:50px;
  color: orange;
  text-shadow: 1px 3px black;
}
.weather_header input{
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 2px solid orange;
  text-align: center;
  font-size:20px;
  color: white;
}
.weather_container_city{
  font-size:35px;
  font-weight: 500;
  margin-bottom: 10px;
  text-shadow: 1px 3px black;
  }

.weather_container_temp{
  font-size:100px;
  font-weight: 700;
  margin-bottom:15px;
  text-shadow: 1px 5px black;
}

.weather_container_desc{
  font-size: 25px;
  font-style: italic;
  text-shadow: 1px 3px black;
  margin-bottom:10px;
}

.weather_container_minmax{
  font-size:24px;
  text-shadow: 1px 3px black;
}
