* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    padding: 0 50px;

}

a {
    text-decoration: none;
    color: black;
}

.box1 {
    position: absolute;
    width: 500px;
    height: 288px;
}

.box2 {
    position: absolute;
    width: 600px;
    height: 449px;
    margin-left: 550px;
    text-align: center;


}

.box3 {

    width: 700px;
    height: 288px;
    align-items: center;


}

.box4 {

    width: 400px;
    height: 150px;
    align-items: center;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 20px;


}

.box4_title {
    color: blue;
    margin: 20px;

}

.box4_title1 {
    padding: 20px;
    margin: 20px;

}

.box5 {
    position: absolute;
    width: 600px;
    height: 449px;
    margin-left: 500px;
    text-align: center;
    border: 1px solid grey;


}

.box1 {

    width: 494px;
    height: 288px;
}


.nav_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    list-style: none;
}

.header_tittle {
    font-weight: 700px;
    font-size: 20px;
    color: white;

}

.cedvel1 {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    padding: 0 80px;
    position: relative;

}


.box1_title {
    font-size: 50px;
    padding: 5px 0 0 0;
    color: white;
}

.box1_title1 {
    margin: 20px 0 0;
    padding: 5px 0 0 0;
    color: white;
}

.box2_title {

    padding: 5px 0 0 0;
    margin: 10px 0 0 0;
}

.box2_title1 {
    font-size: 50px;
    padding: 5px 0 0 0;

}

.submit1 {

    background-color: white;
    border-color: white;
    border-radius: 5px;
    color: blue;
    height: 50px;
    width: 150px;
    margin: 50px 0 0 0;
    text-align: center;
}


.submit1:hover {
    background-color: blue;
    color: white;

}

.submit10 {

    background-color: blue;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    height: 50px;
    width: 150px;
    margin: 50px 0 0 0;
    text-align: center;
}

.submit10:hover {
    background-color: white;
    color: blue;

}

.cedvel2 {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 0 80px;

}

.submit2 {

    background-color: white;
    border-color: grey;
    border-radius: 5px;
    color: black;
    height: 50px;
    width: 150px;
    margin: 30px 20px;
    text-align: center;
}

.submit2:hover {
    background-color: blue;
    color: white;
}

.ext {
    font-size: 20px;
    margin: 20px 0;
}

.cedvel3 {
    position: relative;
    width: 100%;
    height: 700px;
    background-color: white;
    margin: 50px 0;
    text-align: center;
    gap: 30px;
    left: 50px;

}

.cedvel4 {
    position: relative;
    width: 100%;
    height: 564px;
    background-color: rgb(213, 213, 235);
    margin: 50px 0;
    text-align: center;

}

.cedvel5 {
    position: relative;
    width: 100%;
    height: 1000px;
    background-color: white;
    margin: 50px 0;
    text-align: center;
}


.cedvel6 {
    position: relative;
    width: 100%;
    height: 700px;
    background-color: rgb(213, 213, 235);
    margin-top: 150px;
    text-align: center;

}

.cedvel7 {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: white;
    margin: 50px 0;
    text-align: center;
}


.cedvel8 {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-left: 80px;
    margin-top: 150px;
    position: relative;

}

.cedvel3_title {
    margin: 20px;
    text-align: center;

}

.cedvel3_title1 {
    margin: 10px;
    text-align: center;
    margin: 0;
    padding: 0;
    font-style: oblique;

}

.submit3 {
    background-color: white;
    border-color: blue;
    border-radius: 10px;
    color: blue;
    height: 50px;
    width: 150px;
    text-align: center;
}

.services {
    position: absolute;
    width: 100%;
    height: 490px;
    background-color: white;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    left: 150x;
}

.services_cards {
    width: 350px;
    height: 250px;
    display: flex;
    margin: 20px 20px;
    background-color: whitesmoke;
    border-radius: 10%;
    text-align: left;
    padding: 20px 0 0 0;

}


.services_cards1 {
    width: 350px;
    height: 430px;
    display: flex;
    background-color: white;
    border-radius: 10%;
    text-align: left;
    margin-left: 50px;


}

.submit4 {

    background-color: white;
    height: 50px;
    width: 150px;
    margin: 40px 30px;
    text-align: center;
    font-size: 20px;
    border: 5px solid white;
}

.submit4:hover {
    color: blue;
    font: bold;
    border-bottom: 5px solid blue;
}


.services_title {
    padding: 25px 0 0 0;
}

.services_title2 {
    color: blue;
    text-align: center;
}

.center {
    text-align: center;
}

.button {
    width: 100px;
    height: 50px;
    border-color: blue;
    border-radius: 50%;

}


.pricing {
    position: absolute;
    width: 100%;
    height: 490px;
    background-color: rgb(213, 213, 235);
    display: flex;
    justify-content: space-between;

}

.pricing_card {
    width: 350px;
    height: 480px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
    gap: 10px;
    background-color: white;

}

.pricing_card_title1 {
    font-size: 12px;
    font-style: normal;
    align-items: left;

}

.submit5 {

    background-color: white;
    height: 45px;
    width: 200px;
    text-align: center;
    color: blue;
    border: 1px solid blue;
}

.submit6 {

    background-color: blue;
    height: 45px;
    width: 200px;
    text-align: center;
    color: white;
    border: 1px solid blue;
}

.submit5:hover {
    color: white;
    background-color: blue;
}

.submit6:hover {
    color: white;
    background-color: blue;
}

p {
    font-size: 40px;
}

sup,
sub {
    font-style: italic;
    font-size: 30px;
}


.services_cards2 {
    width: 400px;
    height: 430px;
    background-color: white;
    border-radius: 10%;
    text-align: left;
    margin-left: 180px;

}

.span_services {
    font-size: 25px;
    text-align: left;
    margin: 10px 0;
    padding: 10px 0;
}

.ox {
    margin-left: 400px;
}

.clients {
    position: absolute;
    width: 100%;
    height: 490px;
    background-color: rgb(213, 213, 235);
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.clients_cards {
    width: 130px;
    height: 100px;
    background-color: rgb(213, 213, 235);
    border-radius: 10%;
    text-align: center;
    padding: 20px 0 0 0;
    margin-left: 200px;

}

.input_group {
    margin: 17px 0;
    border: grey;
    display: flex;

}

.kode {
    padding: 4px 4px;
    margin: 5px 0;
    width: 100px;
    height: 150px;
    border-radius: 10px;
    border: none;
    display: flex;
}


.cedve21 {
    position: relative;
    width: 100%;
    height: 400px;
    border: 1px;
    background-color: whitesmoke;
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;

}

.cedve21_main {
    position: relative;
    width: 180px;
    height: 300px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
    left: 100px;
}

.cedve21_main1 {
    position: relative;
    width: 200px;
    height: 300px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
    left: 100px;
}

.cedvel21_title {
    margin: 20px 0;


}

.cedvel21_title2 {
    margin: 20px 0;
    font-size: 13px;

}