@mixin size ($width,$height,$displey,$justify,$backround_color,$align_items)
{
    width: $width ;
    height: $height;
    display: $displey;
    justify-content: $justify;
    background-color: $backround_color;
    align-items: $align_items;
}

@mixin d-flex ($f, $just, $direct, $align, $wr, $gap)
{
    display: $f;
    justify-content: $just;
    flex-direction: $direct;
    align-items: $align;
    flex-wrap: $wr;
    gap: $gap;
}

@mixin main-param ($mw, $mh, $p, $m, $g, $bckg, $c, $border-r, $border)
{
    min-width: $mw;
    min-height: $mh;
    padding: $p;
    margin: $m;
    gap: $g;
    background-color: $bckg;
    color: $c;
    border-radius: $border-r;
    border: $border;
}