* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  background-color: #F0F1F3;
  align-items: center;
  padding: 0 3rem;
}
header .header_title_nav_menu {
  width: _;
  height: _;
  display: flex;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  gap: 1rem;
  list-style: none;
  font-size: 1.2rem;
}
header .submit {
  width: 6rem;
  height: 1.8rem;
  display: _;
  justify-content: _;
  background-color: rgb(58, 39, 75);
  align-items: _;
  border-radius: 0.4rem;
  color: white;
  text-align: center;
}
header .submit1 {
  width: 6rem;
  height: 1.8rem;
  display: _;
  justify-content: _;
  background-color: transparent;
  align-items: _;
  color: rgb(58, 39, 75);
  text-align: center;
  border: 0.1rem solid rgb(58, 39, 75);
  border-radius: 0.4rem;
}

.main1 {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  position: relative;
  background-image: url(/Homeworks/Task8/photo/Nokia.jpg);
}
.main1_box_title {
  width: 36rem;
  height: 16rem;
  display: flex;
  justify-content: space-between;
  background-color: _;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  flex-wrap: nowrap;
  color: #F3F4F4;
  font-size: 2.5rem;
  position: absolute;
  top: 10rem;
  left: 20rem;
}
.main1_box_button {
  width: 12rem;
  height: 3.5rem;
  display: _;
  justify-content: _;
  background-color: #FA8F45;
  align-items: center;
  color: white;
  text-align: center;
  border: 0.3rem solid #FA8F45;
  border-radius: 0.4rem;
}

.main2 {
  width: 100%;
  height: 20rem;
  display: _;
  justify-content: _;
  background-color: white;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.main2_title {
  font-size: 2rem;
  gap: 1rem;
  padding-left: 3rem;
}
.main2_categories {
  width: 100%;
  height: 19rem;
  display: flex;
  justify-content: _;
  background-color: white;
  align-items: _;
  position: absolute;
  gap: 0.8rem;
  flex-wrap: wrap;
  left: 3rem;
}
.main2_categories_card {
  width: 8rem;
  height: 10rem;
  display: flex;
  justify-content: _;
  background-color: white;
  align-items: _;
  position: absolute;
}

.main3 {
  width: 100%;
  height: 55rem;
  display: _;
  justify-content: _;
  background-color: white;
  align-items: _;
  position: relative;
}
.main3_title {
  font-size: 2rem;
  gap: 1rem;
  padding-left: 3rem;
}
.main3_valunteers {
  width: 100%;
  height: 49rem;
  display: flex;
  justify-content: _;
  background-color: white;
  align-items: center;
  position: absolute;
  gap: 1.4rem;
  flex-wrap: wrap;
  padding-left: 3rem;
}
.main3_valunteers_cards {
  width: 23rem;
  height: 24rem;
  display: flex;
  justify-content: _;
  background-color: white;
  align-items: center;
  border-radius: 5%;
  border: 0.1rem solid rgb(75, 75, 110);
}
.main3 .photo {
  text-align: center;
  padding: 0.7rem;
}
.main3 .cards_title {
  padding: 0.7rem;
}
.main3 .cards_title2 {
  font-size: 2.1rem;
  padding: 0.5rem;
}
.main3 .submit {
  width: 10rem;
  height: 3rem;
  display: _;
  justify-content: _;
  background-color: rgb(87, 87, 241);
  align-items: center;
  color: black;
  text-align: center;
  border-radius: 0.4rem;
  background-color: #C9EAEF;
  border: 0.1rem solid #C9EAEF;
  margin-top: 1rem;
  font-weight: bold;
}

.statistic {
  width: 100%;
  height: 16rem;
  display: flex;
  justify-content: _;
  background-color: #E4F4F7;
  align-items: center;
  position: relative;
  margin-top: 2rem;
  gap: 8rem;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 3rem;
}
.statistic_title {
  font-size: 2.2rem;
  color: #2a5055;
}
.statistic_content {
  width: 54rem;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  background-color: _;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 7rem;
}
.statistic_content_card {
  width: min-width 7rem;
  height: 4.2rem;
  display: flex;
  justify-content: space-between;
  background-color: _;
  align-items: center;
  text-align: center;
  border: 0, 0, 0, 0.1rem;
  padding: 0, 0.5rem, 0, 1.5rem;
  gap: 0.5rem;
  border-left: 0.1rem solid grey;
  flex-direction: column;
}
.statistic_content_card_num {
  color: #356167;
  font-size: 2rem;
}
.statistic_content_card_title {
  color: #4c848c;
  font-size: 1.1rem;
}

.main4 {
  width: 100%;
  height: 22rem;
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  margin-top: 3rem;
  padding-left: 3rem;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5rem;
}
.main4_box1 {
  width: 40rem;
  height: 13rem;
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1.2rem;
}
.main4_box1_title {
  font-size: 2rem;
  font-weight: 30rem;
  color: black;
}
.main4_box1_title1 {
  font-size: 1.2rem;
  font-weight: 25rem;
  color: black;
}

.top10 {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  background-color: #F3FDFF;
  align-items: center;
  gap: 4.5rem;
  flex-direction: column;
  padding-left: 3rem;
}
.top10_categories {
  width: 76rem;
  height: 17rem;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: start;
  flex-direction: column;
  left: 3rem;
  gap: 1.7rem;
}
.top10_categories_cards {
  width: 2rem;
  height: 13rem;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  gap: 1.7rem;
}
.top10_categories_cards_card {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  gap: 1.7rem;
}
.top10_categories_cards_card_photo {
  width: min-width 2rem;
  height: 2rem;
  display: flex;
  justify-content: _;
  background-color: transparent;
  align-items: center;
  gap: 0.5rem;
}
.top10_categories_cards_card_photo_name {
  font-size: 1 rem;
  font-weight: 25 rem;
  color: black;
  text-wrap: nowrap;
  text-align: center;
}
.top10_categories_cards_card_photo_name_job {
  font-size: 0.8 rem;
  font-weight: 19 rem;
  color: black;
  text-align: center;
}/*# sourceMappingURL=task2010.css.map */